@model WaterManagement.Models.Atrasadas

@{
    ViewData["Title"] = "Factura";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
<link rel="stylesheet" href="~/dist/css/adminlte.css">

<section class="content"><div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
                <!-- Main content -->
                <div id="invoice-content" class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> AdminLTE, Inc.
                                <small class="float-right">Data: @Html.DisplayFor(model => model.Clients.Created) </small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            From
                            <address>
                                <strong>Águas Jossai, Ltd.</strong><br>
                                Bairro Kumbeza<br>
                                Maputo, Moz<br>
                                Tel: (82) 463-1120 / (87) 003-1120<br>
                                NUIT: 100951126
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            To
                            <address>
                                <strong>@Html.DisplayFor(model => model.Clients.Name)</strong><br>
                                Endereço: @Html.DisplayFor(model => model.Clients.Address)<br>
                                Zona: @Html.DisplayFor(model => model.Clients.State)<br>
                               
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Invoice @Html.DisplayFor(model => model.Clients.Bill)</b><br>
                            <br>
                            <b>Nº do Contador:</b> @Html.DisplayFor(model => model.Clients.Meter)<br>
                            <b>Pagar até:</b> @Html.DisplayFor(model => model.Clients.PayDate)<br>
                            <b>Conta para pagamento:</b> BIM: 75801912  || NIB BCI: 000800000056298910180  || E-Mola: 870031120
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                    <div class="col-6">
                        <p class="lead">Data Limite de Pagamento @Html.DisplayFor(model => model.Clients.PayDate)</p>

                        <div class="table-responsive">
                            <style>
                                .subfield {
                                    padding-left: 20px;
                                }
                            </style>

                            <table class="table">
                                <tr>
                                    <th>Consumo Mensal:</th>
                                    <td>@ViewBag.ConsumoMensal<span>m³</span></td>
                                </tr>
                                <tr>
                                    <th rowspan="2" style="vertical-align: middle; ">Leituras:</th>
                                    <th class="subfield">Leitura Inicial:</th>
                                    <td>@Html.DisplayFor(model => model.Clients.M3)m³</td>
                                </tr>
                                <tr>
                                    <th class="subfield">Leitura Final:</th>
                                    <td>@Html.DisplayFor(model => model.Clients.M4)m³</td>
                                </tr>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td>@Html.DisplayFor(model => model.Clients.Valor)</td>
                                </tr>
                                <tr>
                                    <th>Multa de atraso (25%):</th>
                                    <td>@Html.DisplayFor(model => model.Clients.Multa)</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>@Html.DisplayFor(model => model.Clients.Debt)</td>
                                </tr>
                                

                            </table>
                        </div>
                    </div>

                    @if (Model.ClientsList != null && Model.ClientsList.Any())
                    {
                        <div class="col-md-6">
                            <h4>Facturas por Pagar</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Factura</th>
                                        <th>Data da Factura</th>
                                        <th>Data de Pagamento</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var client in Model.ClientsList)
                                    {
                                        <tr>
                                            <td>@client.Bill</td>
                                            <td>@client.Created</td>
                                            <td>@client.PayDate.ToString("yyyy-MM-dd")</td>
                                            <td>@client.Debt?.ToString("F2")</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"><strong>Total a Pagar:</strong></td>
                                        <td><strong>@ViewBag.GrandTotal.ToString("F2")</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }


                </div>



                    <div class="row no-print">
                        <div class="col-12">
                            <button type="button" class="btn btn-default" onclick="printInvoice()">
                                <i class="fas fa-print"></i> Imprimir Fatura
                            </button>

                        <a asp-action="Upsert" asp-route-id="@Model.Clients.Id" class="btn btn-success float-right">
                            <i class="far fa-credit-card"></i> Fazer Pagamento
                        </a>
                        <button id="download-pdf" class="btn btn-primary float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Baixar em PDF
                            </button>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>

    <script>
        function printInvoice() {
            window.print();
        }

        document.getElementById("download-pdf").addEventListener("click", function () {
            // Select the content to print
            const invoiceContent = document.getElementById("invoice-content");

            // Configure the options for html2pdf
            const options = {
                margin: 1,
                filename: 'Invoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a5', orientation: 'portrait' } // Changed format to 'a5'
            };

            // Generate the PDF
            html2pdf().set(options).from(invoiceContent).save();
        });
    </script>



</section>



<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
