@model IEnumerable<WaterManagement.Models.Clients>

@{
    ViewData["Title"] = "Pendentes";
}

<h1>Pendentes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stablished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recibo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Debt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stablished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
